<ion-content>
  <div class="formContent">
    <ion-img
      src="../../assets/image/DrCashLogo01.png"
      class="avatarLogo"
    ></ion-img>
    <div class="loginForm">
      <ion-item class="inputEmail" lines="none">
        <ion-label
          ><img src="../../assets/image/email.png" width="20px"
        /></ion-label>
        <ion-input placeholder="E-mail" disabled></ion-input>
      </ion-item>
      <ion-item class="inputSenha" lines="none">
        <ion-label
          ><img src="../../assets/image/padlock.png" width="20px"
        /></ion-label>
        <ion-input placeholder="Senha" disabled></ion-input>
      </ion-item>
      <ion-item class="inputConfSenha" lines="none">
        <ion-label
          ><img src="../../assets/image/padlock.png" width="20px"
        /></ion-label>
        <ion-input placeholder="Confirmar Senha" disabled></ion-input>
      </ion-item>
      <button id="submitform">
        <img src="../../assets/image/submitbotton.png" />
      </button>
      <div class="buttonsGroup">
        <button class="loginButton" [routerLink]="['/login']">
          <img src="../../assets/image/LoginIcon.png" width="20px" />
          Logar
        </button>
      </div>
    </div>
  </div>
</ion-content>
