<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Sobre</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Controle de Gastos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>O nosso projeto tem objetivo dos usuários controlarem suas despesas no dia-a-dia, estudos, saúde,
          alimentação, viagens, etc.</p>
        <p>Para facilitar essa tarefa, criamos um aplicativo de controle de despesas. A plataforma é útil para os
          interessados em gerenciar de forma mais eficiente os gastos e, assim, economizar.</p>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-list-header>
        Colaboradores
      </ion-list-header>

      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/image/GustavoNascimento.png">
        </ion-avatar>
        <ion-label>
          <h2>Gustavo Nascimento</h2>
          <h3>Desenvolvedor</h3>
          <a href="https://www.linkedin.com/in/gustavo-nascimento-23aa1a154/" target="_blank">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/image/MatheusAlves.png">
        </ion-avatar>
        <ion-label>
          <h2>Mahtues Alves</h2>
          <h3>Desenvolvedor</h3>
          <a href="https://www.linkedin.com/in/matheus-ferreira-65863511b/" target="_blank">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/image/Michele Camargo.png">
        </ion-avatar>
        <ion-label>
          <h2>Michele Camargo</h2>
          <h3>Desenvolvedora</h3>
          <a href="https://www.linkedin.com/in/michele-de-camargo/" target="_blank">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/image/ViniciusFelisberto.png">
        </ion-avatar>
        <ion-label>
          <h2>Vinicius Felisberto</h2>
          <h3>Desenvolvedor</h3>
          <a href="https://www.linkedin.com/in/vifelisberto/" target="_blank">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="/assets/image/ViniciusMendes.png">
        </ion-avatar>
        <ion-label>
          <h2>Vinicius Mendes</h2>
          <h3>Desenvolvedor</h3>
          <a href="https://www.linkedin.com/in/vi-mendes/" target="_blank">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </ion-label>
      </ion-item>
    </ion-list>
