<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <div>
      <ion-button type="submit" (click)="signUp(email, password)" expand="block"
        >Register</ion-button
      >
    </div>
  </form>

  <a [routerLink]="['/forgot-password']" class="small-text"
    >Esqueceu sua senha?</a
  >
</ion-content>
