<ion-content>
  <div class="formContent" *ngIf="!isGoogleLogin">
    <ion-img
      src="../../assets/image/DrCashLogo01.png"
      class="avatarLogo"
    ></ion-img>
    <div class="loginForm">
      <ion-item class="inputEmail" lines="none">
        <ion-label
          ><img src="../../assets/image/email.png" width="20px"
        /></ion-label>
        <ion-input placeholder="E-mail"></ion-input>
      </ion-item>
      <ion-item class="inputSenha" lines="none">
        <ion-label
          ><img src="../../assets/image/padlock.png" width="20px"
        /></ion-label>
        <ion-input placeholder="Senha"></ion-input>
      </ion-item>
      <button id="submitform">
        <img src="../../assets/image/submitbotton.png" />
      </button>
      <div class="buttonsGroup">
        <button class="googleLogin" (click)="googleSignup()">
          <img src="../../assets/image/google.png" width="20px" /> Google
        </button>
        <button class="registerButton" [routerLink]="['/register']">
          <img src="../../assets/image/contact-form.png" width="20px" />
          Cadastrar
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="isGoogleLogin">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bem vindo <b>{{user?.displayName}}!</b></ion-card-title>
        <ion-card-subtitle>Perfil: </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="card-content">
        <ion-avatar>
          <img [src]="user?.photoURL" class="profile-image" />
        </ion-avatar>
        <ion-label>Email: {{user?.email}}</ion-label>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" (click)="logout()" color="danger">
      Sair
    </ion-button>
  </div>
</ion-content>
