<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <div>
      <ion-button type="submit" color="secondary" expand="full"
        >Entrar</ion-button
      >
    </div>
  </form>

  <a [routerLink]="['/forgot-password']" class="small-text"
    >Esqueceu sua senha?</a
  >
</ion-content>
