<ion-list *ngIf="expenses">
  <ion-item-sliding *ngFor="let expense of expenses">
    <ion-item-options side="start">
      <ion-item-option color="primary" (click)="updateExpense(expense)">
        <ion-icon slot="icon-only" name="brush"></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash" (click)="confirmDeleteExpense(expense.id)"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item id="{{ expense.id }}">
      <ion-label slot="start">
        <ion-row>{{ expense.title }}</ion-row>
        <ion-row>{{ expense.dueDate | date: 'dd/MM/yyyy' }}</ion-row>
      </ion-label>
      <ion-note slot="end">{{ expense.value | currency: 'BRL' }}</ion-note>
    </ion-item>
  </ion-item-sliding>
</ion-list>
