<ion-content>
  <ion-card class="Grafico-Barra">
    <ion-card-header>
      <ion-card-subtitle>Gastos totais referente ao ano de 2020</ion-card-subtitle>
      <ion-card-title>Gastos </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card class="Grafico-Linha">
    <ion-card-header>
      <ion-card-subtitle>Gastos totais referente ao ano de 2020</ion-card-subtitle>
      <ion-card-title>Gastos trimestrais </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card class="Grafico-Pizza">
    <ion-card-header>
      <ion-card-subtitle>Comparativo mês atual,proximo mês</ion-card-subtitle>
      <ion-card-title>Comparativo meses </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #pieCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card class="Grafico-doughnutCanvas">
    <ion-card-header>
      <ion-card-subtitle>Gastos semestrais</ion-card-subtitle>
      <ion-card-title>Gastos </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
