<ion-content [fullscreen]="true">
  <form [formGroup]="expense" (ngSubmit)="updateExpense()">
    <ion-item class="padding">
      <ion-label position="floating">Titulo da despesa</ion-label>
      <ion-input
        type="text"
        formControlName="title"
        required="true"
      ></ion-input>
    </ion-item>

    <ion-item class="padding">
      <ion-label position="floating">Valor</ion-label>
      <ion-input
        type="number"
        inputmode="tel"
        formControlName="value"
        required="true"
      ></ion-input>
    </ion-item>

    <ion-item class="padding">
      <ion-label position="floating">Data de vencimento</ion-label>
      <ion-datetime
        displayFormat="DD/MM/YYYY"
        formControlName="dueDate"
        display-timezone="utc"
        required="true"
      >
      </ion-datetime>
    </ion-item>

    <ion-item class="padding">
      <ion-label position="floating">Categoria</ion-label>
      <ion-select formControlName="category" required="true">
        <ion-select-option value="1">Educação</ion-select-option>
        <ion-select-option value="2">Lazer</ion-select-option>
        <ion-select-option value="3">Alimentação</ion-select-option>
        <ion-select-option value="4">Transporte</ion-select-option>
        <ion-select-option value="5">Saúde</ion-select-option>
        <ion-select-option value="6">Despesas domésticas</ion-select-option>
        <ion-select-option value="7">Outros</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="padding">
      <ion-label position="floating">Repetir despesa</ion-label>
      <ion-select
        formControlName="repeat"
        (ionChange)="openSelectPlots()"
        required="true"
      >
        <ion-select-option value="1">Não repetir</ion-select-option>
        <ion-select-option value="2">Mensalmente</ion-select-option>
        <ion-select-option value="3">Parcelas</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button
      class="ion-padding"
      type="submit"
      [disabled]="!this.expense.valid"
      expand="block"
      fill="outline"
    >
      Alterar Despesa</ion-button
    >
  </form>
</ion-content>
