<ion-header>
  <ion-toolbar>

    <div class="ion-page" slot="end" id="mainContent">
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>

    <ion-title>
      Controle de Gastos
    </ion-title>
  </ion-toolbar>

  <app-month-select (eventMonth)="updateExpensesMonth($event)"></app-month-select>
</ion-header>

<ion-content [fullscreen]="true">
  <app-expense-items *ngIf="expenses" [expenses]="expenses"></app-expense-items>
</ion-content>

<app-add-expense></app-add-expense>
